[Unit]
Description=The reproxy edge server / reverse proxy
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/reproxy.pid
# Nginx will fail to start if /run/nginx.pid already exists but has the wrong
# SELinux context. This might happen when running `nginx -t` from the cmdline.
# https://bugzilla.redhat.com/show_bug.cgi?id=1268621
ExecStartPre=/usr/bin/rm -f /run/reproxy.pid
# ExecStartPre=/usr/sbin/nginx -t
ExecStart=/usr/sbin/reproxy --file.enabled --file.name=/etc/reproxy/config.yml
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
